scipy~=1.10.0
scikit-learn~=1.2.1
filelock~=3.9.0
numpy~=1.23.5
tqdm~=4.64.1
packaging~=22.0
pillow~=9.4.0
pathlib~=1.0.1
transformers~=4.24.0
huggingface_hub~=0.10.1
requests~=2.28.1
ipython~=8.10.0
regex~=2022.7.9
tokenizers~=0.11.4
pandas~=1.5.3
yaml~=0.2.5
pyyaml~=6.0
beautifulsoup4~=4.11.1
cookiecutter~=1.7.3
psutil~=5.9.0
pytest~=7.1.2
h5py~=3.7.0
msgpack-python==0.5.6
attrs~=22.1.0
black~=22.6.0
python-dateutil~=2.8.2
nltk~=3.7
matplotlib~=3.7.0
setuptools~=65.6.3
imageio~=2.26.0
joblib~=1.1.1